.container {
  margin: 1em;
}

.title {
  font-size: 2em;
}

.subtitle {
  font-weight: 400;
  font-size: 1.25em;
}

.back {
  display: flex;
  gap: .5em;
  margin: .5em 0;
  padding: .5em .5em;
  border: 1px solid #000;
  width: max-content;
  transition: background-color .35s;
}

.back:hover {
  background-color: #eee;
  cursor: pointer;
}