.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about_principal {
  font-size: 2em;
  padding: .5em;
}

.about_principal strong {
  text-decoration: underline;
}

.about_secondary {
  font-size: 1.5em;
}

.area_container {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  margin: 3em;
  list-style-type: none;
}

.area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area_icon {
  font-size: 2em;
}

.area_title {
  font-size: 1.5em;
  font-weight: 500;
}