.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  gap: 2em;
}

.presentation {
  display: flex;
  gap: 4em;
  opacity: 0;
}

.information {
  align-self: center;
}

.name {
  font-size: 3em;
  font-weight: normal;
  margin-block: 0.35em;
}

.role {
  font-size: 1.5em;
  font-weight: 400;
  text-align: start;
}

.external_links {
  display: flex;
  padding: 1em 0;
  gap: 1em;
}

.blog, .projects {
  color: #000;
  transition: color .35s;
}

.blog:hover, .projects:hover {
  color: #333;
}

.projects {
  display: flex;
  text-decoration: none;
  gap: .25em;
}

.projects strong {
  text-decoration: underline;
}