.container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 2em 3em;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.name {
  font-size: 1.25em;
}

.link_container {
  display: flex;
  gap: 2em;
  list-style-type: none;
}

.link_url {
  text-decoration: none;
}

.link_content {
  color: #000;
  transition: color .15s;
}

.link_content:hover {
  color: #666;
}

.selected {
  text-decoration: underline;
}