.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 0.5em;
}

.title {
  font-size: 2em;
  margin: 0.5em 0;
}

.subtitle {
  font-style: italic;
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 1em;
}

.description {
  margin: 1em 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.external_links {
  display: flex;
  gap: 1em;
}

.link,
.tech {
  font-size: 2.5em;
  color: #000;
}

.link {
  transition: color 0.35s;
}

.link:hover {
  color: #666;
}

.stack {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

@media screen and (max-width: 500px) {
  .subtitle {
    margin-top: 0;
  }
  .stack {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: fit-content;
  }

  .tech {
    font-size: 2em;
  }

  .bottom {
    flex-direction: column;
    margin-top: 1em;
    gap: 2em;
  }

  .external_links {
    align-self: center;
  }
}

@media screen and (min-width: 960px) {
  .stack {
    grid-template-columns: repeat(5, 1fr);
  }
}
