---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Anchor from "../components/Anchor.astro";

// Sections
import Philosophy from "../components/Philosophy.astro";
import Stack from "../components/Stack.astro";
import Studies from "../components/Studies.astro";
import Experience from "../components/Experience.astro";
import Media from "../components/Media.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Ticiano Morvan, student & software developer">
	<main class="p-4 lg:p-0">
		<section class="min-h-screen flex flex-col items-center justify-center">
			<Image
				src="/images/profile.jpg"
				alt="Ticiano Morvan's profile picture"
				width={192}
				height={192}
				class="rounded-full"
			/>
			<span class="my-6 flex gap-x-2 items-center">
				<h1 class="text-5xl text-center font-serif lg:text-6xl lg:text-start">
					Software that changes lifes, fast
				</h1>
				<Icon
					class="hidden lg:block lg:text-yellow-600 lg:rotate-[15deg]"
					name="tabler:bolt"
					size={48}
				/>
			</span>

			<h2 class="text-xl text-center text-gray-400 lg:text-start">
				Hi, I'm Ticiano Morvan, a college student and full-stack software
				developer based in Argentina.
			</h2>

			<div class="flex gap-6 items-center">
				<span class="hidden lg:flex lg:items-center">
					Learn about me and my work
					<Icon name="tabler:arrow-narrow-down" size={24} />
				</span>

				<Anchor href="#contact">
					Work together
					<Icon
						class="transition duration-150 group-hover:translate-x-1"
						name="tabler:arrow-narrow-right"
						size={24}
					/>
				</Anchor>
			</div>
		</section>

		<Philosophy />

		<Stack />

		<Studies />

		<Experience />

		<Media />

		<Contact />
	</main>
</Layout>
