---
type Props = astroHTML.JSX.AnchorHTMLAttributes;

const anchorProps = Astro.props;

const baselineStyles =
  "group my-6 px-4 py-2 flex gap-1 items-center rounded-full bg-blue-600 text-white hover:bg-blue-700";
---

<a class={baselineStyles.concat(" ", anchorProps.class ?? "")} {...anchorProps}>
  <slot />
</a>
