---
import { Icon } from "astro-icon/components";
import Anchor from "./Anchor.astro";
import socialsData from "../data/socials.json";
---

<section
  id="contact"
  class="my-16 flex flex-col gap-4 items-center text-center lg:text-start"
>
  <h2 class="my-2 text-5xl font-serif">Want to create something?</h2>
  <p class="text-xl text-gray-400">
    Let's discuss it further and build something interesting!
  </p>

  <span class="flex flex-col items-center lg:flex-row lg:gap-4">
    <a
      href="mailto:ticiano.morvan@gmail.com"
      aria-label="Send email to Ticiano"
    >
      <Anchor href="mailto:ticiano.morvan@gmail.com">
        Send email
        <Icon name="tabler:mail" size={24} />
      </Anchor>
    </a>

    <ul class="flex items-center gap-2">
      {
        socialsData.map((social) => (
          <li>
            <a
              href={social.url}
              target="_blank"
              rel="noreferrer"
              aria-label={`Link to Ticiano's ${social.name}`}
            >
              <Icon name={social.icon} size={36} />
            </a>
          </li>
        ))
      }
    </ul>
  </span>
</section>
