---
import { Icon } from "astro-icon/components";
---

<section
  class="flex flex-col gap-16 items-center"
>
  <div class="flex flex-col items-center text-center">
    <span
      class="w-fit px-4 py-2 flex gap-2 items-center rounded-full font-bold bg-blue-900 text-white"
    >
      <Icon name="tabler:pig-money" size={32} />
      <p>Build software that moves the market</p>
    </span>

    <div class="max-w-xl">
      <h3 class="my-6 text-5xl font-serif">
        Hands-on work experience. 
      </h3>
      <p class="text-gray-400">
      From building help and roadmap pages, to craft complete products and public-facing experiences in different sectors like education, health or technology. 
      </p>
    </div>
  </div>

  <div class="w-full flex flex-col items-center gap-4">
    <div class="w-full flex flex-col gap-8 justify-center lg:flex-row lg:gap-16">
      <span class="min-w-[16em]">
        <h5 class="text-xl font-semibold">Software Engineer @ Emailchaser</h5>
        <p class="my-2 text-gray-400">(Feb 2025 - Currently)</p>
        <p>Remote, Puerto Rico.</p>
      </span>
      <span class="min-w-[16em]">
        <h5 class="text-xl font-semibold">Software Development Lead @ DEX</h5>
        <p class="my-2 text-gray-400">(Oct 2023 - Feb 2025)</p>
        <p>Remote, USA.</p>
      </span>
  
      <span class="min-w-[16em]">
        <h5 class="text-xl font-semibold">Full-stack developer @ CrESI</h5>
        <p class="my-2 text-gray-400">(Dec 2022 - Oct 2023)</p>
        <p>Remote, Argentina.</p>
      </span>
    </div>
  </div>
</section>
