---
import { Icon } from 'astro-icon';
import { routes } from '../data/routes'
---

<nav class="navigation">
  <h1 class="navigation-name">Ticiano Morvan</h1>

  <span class="navigation-routes">
    {routes.map((route) => (
      <a class="navigation-route" href={route.href}>
        <Icon name={route.icon} size={24} />
        <p class="navigation-route-label">{route.label}</p>
      </a>
    ))}
  </span>
</nav>

<style>
  .navigation {
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: var(--primary);
    border-bottom: 0.125em solid #262626;
  }

  .navigation-name {
    font-weight: 400;
  }

  .navigation-routes {
    display: flex;
  }

  .navigation-route {
    padding: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--primary);
    text-decoration: none;
    transition: all 150ms ease;
  }

  .navigation-route:hover {
    background-color: var(--primary);
    color: #000;
  }

  .navigation-route-label {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .navigation-route-label {
      display: block;
    }
  }
</style>