---
import { Icon } from "astro-icon";
---

<section
  class="min-h-screen flex flex-col gap-24 justify-around items-center md:flex-row md:gap-0"
>
  <div>
    <span
      class="w-fit px-4 py-2 flex gap-2 items-center rounded-full font-bold bg-blue-900 text-white"
    >
      <Icon name="tabler:package" size="32" />
      <p>Build software that people cares about</p>
    </span>

    <div class="max-w-xl">
      <h3 class="my-6 text-5xl font-serif">
        Because people have problems, and we must provide solutions
      </h3>
      <p class="text-gray-400">
        People in this world are moving fast, faster than we can even imagine or
        gather from data. With this in mind, as a software developer, I believe
        in the good impact of a well-crafted, efficient and easy to use software
        that can meet people's expectations and help them solve their daily
        problems.
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-12 justify-evenly">
    <span class="flex flex-col gap-2">
      <b class="text-5xl">+1400 contributions</b>
      <p class="flex gap-2 items-center text-xl text-gray-400">
        <Icon name="tabler:brand-open-source" size="24" />
         For both open source and closed source software
      </p>

      <a
        href="https://github.com/ticianomorvan"
        target="_blank"
        rel="noreferrer"
        class="w-fit flex gap-1 items-center underline"
      >
        Check my contributions on GitHub
        <Icon name="tabler:arrow-right" size="16" />
      </a>
    </span>

    <span class="flex flex-col gap-4">
      <b class="text-5xl">+1020 hours</b>
      <p class="flex gap-2 items-center text-xl text-gray-400">
        <Icon name="tabler:code" size="24" />
         Improving codebases' quality
      </p>

      <a
        href="https://wakatime.com/@ticianomorvan"
        target="_blank"
        rel="noreferrer"
        class="w-fit flex gap-1 items-center underline"
      >
        Know about my preferred languages in Wakatime
        <Icon name="tabler:arrow-right" size="16" />
      </a>
    </span>

    <span class="flex flex-col gap-4">
      <b class="text-5xl">+3000 people</b>
      <p class="flex gap-2 items-center text-xl text-gray-400">
        <Icon name="tabler:heart-handshake" size="24" />
         Helped with fast and intuitive software
      </p>

      <a
        href="https://cresi.com.ar"
        target="_blank"
        rel="noreferrer"
        class="w-fit flex gap-1 items-center underline"
      >
        Working with CrESI <Icon name="tabler:arrow-right" size="16" />
      </a>
    </span>
  </div>
</section>
