---
import { Icon } from "astro-icon";
---

<section
  class="min-h-screen my-12 flex flex-col gap-8 justify-around items-center lg:flex-row lg:gap-0"
>
  <div>
    <span
      class="w-fit px-4 py-2 flex gap-2 items-center rounded-full font-bold bg-blue-900 text-white"
    >
      <Icon name="tabler:books" size="32" />
      <p>Build software and learn in the process</p>
    </span>

    <div class="max-w-xl">
      <h3 class="my-6 text-5xl font-serif">No one was born with knowledge.</h3>
      <p class="text-gray-400">
        Practice makes perfection, and that's a fact. But we can't say that
        reading some books, watching some videos or many others resources won't
        help you to get better at something. I, as a self-taught software
        developer that is currently pursuing a degree in Computer Science, I can
        say that I had a lot of help from traditional education in my life.
      </p>
    </div>
  </div>

  <div class="max-w-lg flex flex-col gap-4">
    <h4 class="my-4 text-4xl font-serif">Education</h4>

    <span>
      <h5 class="text-xl font-semibold">
        Facultad de Matemática, Astronomía, Física y Computación (FAMAF, UNC)
      </h5>
      <p class="my-2 text-gray-400">(Mar 2023 - Currently)</p>
      <p>Córdoba, Argentina.</p>
      <p class="my-2 font-semibold">Bachelor's Degree in Computer Science</p>
    </span>

    <span>
      <h5 class="text-xl font-semibold">Instituto San Carlos</h5>
      <p class="my-2 text-gray-400">(Mar 2017 - Dec 2022)</p>
      <p>Malagueño, Córdoba, Argentina.</p>
      <p class="my-2 font-semibold">
        High School Diploma in Business and Management
      </p>
    </span>
  </div>
</section>
